<!DOCTYPE html>
<html>

<head>
    
        <style>
            body {
                background-image:url("/images/img_14_2.jpg") ;
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: 20%;
                background-position-x: 75%;
            }
        </style>
    <title>MyFarmStory</title>
    <%- include ./partials/styleHeader%>
</head>

<body>
	 <%- include ./partials/navBarUser %>
    <header class="header"> 
        <div class="jumbotron jumbotron-fluid">
         <div class="container">
            <h1 class="display-4">Monster <%=monster. monsterName%> attacking you! </h1>
             <p class="lead">Kill to get an item!</p>
             <button>
                    <a href="/explore/hunting/<%=monster.ItemId%>/kill" class="btn btn-primary" onclick="alert(`you've been kill <%=monster. monsterName%> , and you got item <%= monster.item%>)">Kill</a>
             </button> 
             <button>
                 <a href="/assets" class="btn btn-primary">Cancel</a>
             </button>
         </div>
        </div>
      
    </header>  
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>